In [1]:
import numpy as np
import pandas as pd
#turning the CSV dataset into a dataframe
df = pd.read_csv('russia.inflation.monthly (statbureau.org).csv')
Inflate = df
Inflate

,Year,January,February,March,April,May,June,July,August,September,October,November,December,Total
0,1991,6.20,4.80,6.30,63.50,3.00,1.20,0.60,0.50,1.10,3.50,8.90,12.10,160.40
1,1992,245.30,38.00,29.90,21.70,11.90,19.10,10.60,8.60,11.50,22.90,26.10,25.20,2508.85
2,1993,25.80,24.70,20.10,18.70,18.10,19.90,22.39,26.00,23.00,19.50,16.39,12.50,839.87
3,1994,17.90,10.82,7.41,8.49,6.91,6.00,5.33,4.62,7.96,15.00,14.61,16.44,215.02
4,1995,17.77,11.02,8.94,8.47,7.93,6.66,5.38,4.56,4.46,4.72,4.56,3.20,131.33
5,1996,4.11,2.79,2.80,2.16,1.60,1.17,0.72,-0.21,0.33,1.20,1.88,1.42,21.81
6,1997,2.34,1.54,1.43,0.96,0.94,1.10,0.93,-0.14,-0.30,0.17,0.61,0.96,11.03
7,1998,1.51,0.89,0.64,0.38,0.50,0.08,0.17,3.67,38.43,4.54,5.67,11.61,84.44
8,1999,8.38,4.13,2.79,3.03,2.22,1.91,2.82,1.16,1.48,1.37,1.23,1.26,36.56
9,2000,2.33,1.04,0.64,0.89,1.75,2.55,1.79,0.98,1.32,2.11,1.52,1.64,20.20
10,2001,2.76,2.28,1.86,1.79,1.78,1.62,0.45,0.01,0.60,1.09,1.36,1.60,18.58
11,2002,3.09,1.16,1.08,1.16,1.69,0.53,0.72,0.09,0.40,1.07,1.61,1.54,15.06
12,2003,2.40,1.63,1.05,1.02,0.80,0.80,0.71,-0.41,0.34,1.00,0.96,1.10,11.99
13,2004,1.75,0.99,0.75,0.99,0.74,0.78,0.92,0.42,0.43,1.14,1.11,1.14,11.74
14,2005,2.62,1.23,1.34,1.12,0.80,0.64,0.46,-0.14,0.25,0.55,0.74,0.82,10.91
15,2006,2.43,1.66,0.82,0.35,0.48,0.28,0.67,0.19,0.09,0.28,0.63,0.79,9.00
16,2007,1.68,1.11,0.59,0.57,0.63,0.95,0.87,0.09,0.79,1.64,1.23,1.13,11.87
17,2008,2.31,1.20,1.20,1.42,1.35,0.97,0.51,0.36,0.80,0.91,0.83,0.69,13.28
18,2009,2.37,1.65,1.31,0.69,0.57,0.60,0.63,0.00,-0.03,0.00,0.29,0.41,8.80
19,2010,1.64,0.86,0.63,0.29,0.50,0.39,0.36,0.55,0.84,0.50,0.81,1.08,8.78
20,2011,2.37,0.78,0.62,0.43,0.48,0.23,-0.01,-0.24,-0.04,0.48,0.42,0.44,6.10
21,2012,0.50,0.37,0.58,0.31,0.52,0.89,1.23,0.10,0.55,0.46,0.34,0.54,6.58
22,2013,0.97,0.56,0.34,0.51,0.66,0.42,0.82,0.14,0.21,0.57,0.56,0.51,6.45
23,2014,0.59,0.70,1.02,0.90,0.90,0.62,0.49,0.24,0.65,0.82,1.28,2.62,11.36
24,2015,3.85,2.22,1.21,0.46,0.35,0.19,0.80,0.35,0.57,0.74,0.75,0.77,12.91
25,2016,0.96,0.63,0.46,0.44,0.41,0.36,0.54,0.01,0.17,0.43,0.44,0.40,5.38
26,2017,0.62,0.22,0.13,0.33,0.37,0.61,0.07,-0.54,-0.15,0.20,0.22,0.42,2.52
27,2018,0.31,0.21,0.29,0.38,0.38,0.49,0.27,0.01,0.16,0.35,0.50,0.84,4.27
28,2019,1.01,0.44,0.32,0.29,0.34,0.04,0.20,-0.24,-0.16,0.13,0.28,0.36,3.05
29,2020,0.40,0.33,0.55,0.83,0.27,0.22,0.35,-0.04,-0.07,0.43,0.71,0.83,4.91
30,2021,0.67,0.78,0.66,0.58,0.74,0.69,0.31,0.17,0.60,1.11,0.96,0.82,8.39
31,2022,0.99,1.17,7.61,1.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.66

In [2]:
#Dropping the total column
Inflate = Inflate.iloc[:, :-1]
Inflate

,Year,January,February,March,April,May,June,July,August,September,October,November,December
0,1991,6.20,4.80,6.30,63.50,3.00,1.20,0.60,0.50,1.10,3.50,8.90,12.10
1,1992,245.30,38.00,29.90,21.70,11.90,19.10,10.60,8.60,11.50,22.90,26.10,25.20
2,1993,25.80,24.70,20.10,18.70,18.10,19.90,22.39,26.00,23.00,19.50,16.39,12.50
3,1994,17.90,10.82,7.41,8.49,6.91,6.00,5.33,4.62,7.96,15.00,14.61,16.44
4,1995,17.77,11.02,8.94,8.47,7.93,6.66,5.38,4.56,4.46,4.72,4.56,3.20
5,1996,4.11,2.79,2.80,2.16,1.60,1.17,0.72,-0.21,0.33,1.20,1.88,1.42
6,1997,2.34,1.54,1.43,0.96,0.94,1.10,0.93,-0.14,-0.30,0.17,0.61,0.96
7,1998,1.51,0.89,0.64,0.38,0.50,0.08,0.17,3.67,38.43,4.54,5.67,11.61
8,1999,8.38,4.13,2.79,3.03,2.22,1.91,2.82,1.16,1.48,1.37,1.23,1.26
9,2000,2.33,1.04,0.64,0.89,1.75,2.55,1.79,0.98,1.32,2.11,1.52,1.64
10,2001,2.76,2.28,1.86,1.79,1.78,1.62,0.45,0.01,0.60,1.09,1.36,1.60
11,2002,3.09,1.16,1.08,1.16,1.69,0.53,0.72,0.09,0.40,1.07,1.61,1.54
12,2003,2.40,1.63,1.05,1.02,0.80,0.80,0.71,-0.41,0.34,1.00,0.96,1.10
13,2004,1.75,0.99,0.75,0.99,0.74,0.78,0.92,0.42,0.43,1.14,1.11,1.14
14,2005,2.62,1.23,1.34,1.12,0.80,0.64,0.46,-0.14,0.25,0.55,0.74,0.82
15,2006,2.43,1.66,0.82,0.35,0.48,0.28,0.67,0.19,0.09,0.28,0.63,0.79
16,2007,1.68,1.11,0.59,0.57,0.63,0.95,0.87,0.09,0.79,1.64,1.23,1.13
17,2008,2.31,1.20,1.20,1.42,1.35,0.97,0.51,0.36,0.80,0.91,0.83,0.69
18,2009,2.37,1.65,1.31,0.69,0.57,0.60,0.63,0.00,-0.03,0.00,0.29,0.41
19,2010,1.64,0.86,0.63,0.29,0.50,0.39,0.36,0.55,0.84,0.50,0.81,1.08
20,2011,2.37,0.78,0.62,0.43,0.48,0.23,-0.01,-0.24,-0.04,0.48,0.42,0.44
21,2012,0.50,0.37,0.58,0.31,0.52,0.89,1.23,0.10,0.55,0.46,0.34,0.54
22,2013,0.97,0.56,0.34,0.51,0.66,0.42,0.82,0.14,0.21,0.57,0.56,0.51
23,2014,0.59,0.70,1.02,0.90,0.90,0.62,0.49,0.24,0.65,0.82,1.28,2.62
24,2015,3.85,2.22,1.21,0.46,0.35,0.19,0.80,0.35,0.57,0.74,0.75,0.77
25,2016,0.96,0.63,0.46,0.44,0.41,0.36,0.54,0.01,0.17,0.43,0.44,0.40
26,2017,0.62,0.22,0.13,0.33,0.37,0.61,0.07,-0.54,-0.15,0.20,0.22,0.42
27,2018,0.31,0.21,0.29,0.38,0.38,0.49,0.27,0.01,0.16,0.35,0.50,0.84
28,2019,1.01,0.44,0.32,0.29,0.34,0.04,0.20,-0.24,-0.16,0.13,0.28,0.36
29,2020,0.40,0.33,0.55,0.83,0.27,0.22,0.35,-0.04,-0.07,0.43,0.71,0.83
30,2021,0.67,0.78,0.66,0.58,0.74,0.69,0.31,0.17,0.60,1.11,0.96,0.82
31,2022,0.99,1.17,7.61,1.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Using melt function to stack up the columns and rows 
df1 = pd.melt(Inflate, id_vars=['Year'], var_name=['Month'])
df1

     Year      Month   value
0    1991    January    6.20
1    1992    January  245.30
2    1993    January   25.80
3    1994    January   17.90
4    1995    January   17.77
..    ...        ...     ...
379  2018   December    0.84
380  2019   December    0.36
381  2020   December    0.83
382  2021   December    0.82
383  2022   December     NaN

[384 rows x 3 columns]

In [4]:
#Tranversing the data month in words to date-time
df1['Date'] = pd.to_datetime(df1['Year'].astype(str) + '-' + df1['Month'].astype(str)).dt.strftime('%Y-%m')
df1

     Year      Month   value     Date
0    1991    January    6.20  1991-01
1    1992    January  245.30  1992-01
2    1993    January   25.80  1993-01
3    1994    January   17.90  1994-01
4    1995    January   17.77  1995-01
..    ...        ...     ...      ...
379  2018   December    0.84  2018-12
380  2019   December    0.36  2019-12
381  2020   December    0.83  2020-12
382  2021   December    0.82  2021-12
383  2022   December     NaN  2022-12

[384 rows x 4 columns]

In [5]:
#Dropping the exessive columns and reset the index
df1 = df1.sort_values(by=['Date']).drop(columns=['Month', 'Year']).reset_index(drop=['index'])
#Reindexing in wanted format 
df1 = df1.reindex(['Date','value'], axis=1)
#Dropping the last 8 NaN values 
df1 = df1.iloc[:-8, :]
df1

        Date  value
0    1991-01   6.20
1    1991-02   4.80
2    1991-03   6.30
3    1991-04  63.50
4    1991-05   3.00
..       ...    ...
371  2021-12   0.82
372  2022-01   0.99
373  2022-02   1.17
374  2022-03   7.61
375  2022-04   1.56

[376 rows x 2 columns]